PORT=8082
RCT_METRO_PORT=8082
EXPO_PUBLIC_MODE=development
EXPO_PUBLIC_API_BASE_URL=http://localhost:5006/api
EXPO_PUBLIC_API_SOCKET_URL=http://localhost:5006/
EXPO_PUBLIC_GLOBAL_DELAY=0

EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

EXPO_PUBLIC_GOOGLE_CLIENT_ID=google-client-id
EXPO_PUBLIC_LINKEDIN_CLIENT_ID=linkedin-client-id

EXPO_PUBLIC_OAUTH_REDIRECT_URI=redirect-EXPO_PUBLIC_OAUTH_REDIRECT_URI

